.about {
    padding: 5rem 0;
    margin: 5rem auto;
}

.about .about-container .about-left img {
    width: 500px;
}

.about .about-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: 0 auto;
}

.about .about-container .about-right p {
    margin: 20px 0 40px;
}

.about .about-container .about-right {
    margin-left: 6rem;
}

.about .about-container .about-right .about-cards {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 3rem;
}


.about .about-container .about-right .about-cards .about-card {
    width: 300px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #2e3267;
    border-radius: 16px;
    transition: all 400ms ease;
    text-align: center;
}

.about .about-container .about-right .about-cards .about-card:hover {
    background-color: #424890;
    box-shadow: 0 3rem 3rem rgba(0, 0, 0, 0.3);
}

.about .about-container .about-right .about-cards .about-card .about-icon {
    background-color: #f75842;
    display: inline-block;
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 1rem;
    margin-bottom: 20px;
}

.about .about-container .about-right .about-cards .about-card:nth-child(2) .about-icon {
    background-color: #00bf8e;
}

.about .about-container .about-right .about-cards .about-card:nth-child(3) .about-icon {
    background-color: #f7c94b;
}

.team {
    background-color: #2e3267;
    padding: 5rem 0;
}

.team h2 {
    text-align: center;
    margin-bottom: 3rem;
}

.team .team-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
    width: 80%;
    margin: 0 auto;
}

.team .team-container .team-member {
    background-color: #424890;
    padding: 3rem;
    border: 1px solid transparent;
    transition: all 400ms ease;
    position: relative;
    overflow: hidden;
}

.team .team-container .team-member .team-image img {
    filter: saturate(0);
    width: 100%;
}

.team .team-container .team-member .team-info {
    text-align: center;
    margin-top: 1.4rem;
}

.team .team-container .team-member .team-info p {
    color: rgba(255, 255, 255, 0.7);
}

.team .team-container .team-member:hover img {
    filter: saturate(1);
}

.team .team-container .team-member:hover .team-social {
    right: 0;
}

.team .team-container .team-member .team-social {
    position: absolute;
    right: -100%;
    top: 50%;
    display: flex;
    flex-direction: column;
    background-color: #6c63ff;
    border-radius: 1rem 0 0 1rem;
    transform: translateY(-50%);
    box-shadow: -2rem 0 2rem rgba(0, 0, 0, 0.3);
    transition: all 400ms ease;
}

.team .team-container .team-member .team-social a {
    padding: 1.3rem;
    font-size: 1rem;
    color: #fff;
}

.team .team-container .team-member:hover {
    background-color: transparent;
    border: 1px solid #6c63ff;
    filter: saturate(1);
}

@media (max-width:992px) {
    .about .about-container {
        flex-direction: column;
        gap: 0rem;
        width: 90%;
    }

    .about .about-container .about-right {
        margin-left: 0;
        margin-top: 50px;
    }

    .team .team-container {
        grid-template-columns: repeat(2, 1fr);
        width: 90%;
    }

    .team .team-container .team-member {
        padding: 2rem;
    }
}

@media (max-width: 768px) {
    .about .about-container {
        display: flex;
        flex-direction: column;
    }

    .about .about-container .about-left img {
        width: 300px;
    }

    .about .about-container .about-right {
        text-align: center;
    }

    .about .about-container .about-right p {
        width: 90%;
        margin: 0 auto;
        margin-bottom: 40px;
    }

    .about .about-container .about-cards {
        display: flex;
        flex-direction: column;
    }

    .about .about-container .about-cards .about-card {
        width: 100%;
        gap: 0;
    }

    .team .team-container {
        grid-template-columns: 1fr;
    }
}