.course {
    margin-top: 10rem;
    padding: 5rem 0;
}

.course h2 {
    text-align: center;
    margin-bottom: 3rem;
}

.course .course-container {
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    gap: 3rem;
    width: 80%;
    margin: 0 auto;
}

.course .course-container .course-card .course-info {
    padding: 2rem;
}

.course .course-container .course-card .button {
    display: inline-flex;
    background-color: #f75842;
    color: #fff;
    padding: 1rem 2rem;
    border: 1px solid transparent;
    font-weight: 500;
    transition: all 400ms ease;
}

.course .course-container .course-card .button:hover {
    border: 1px solid #fff;
    background-color: transparent;
}


.course .course-container .course-card .course-info p {
    margin: 1.2rem 0 2rem;
    font-size: 0.9rem;
    text-align: center;
}

.course .course-container .course-card .course-info h4 {
    text-align: center;
}

.course .course-container .course-card .course-img img {
    width: 100%;
}

.course .course-container .course-card a {
    margin-bottom: 2rem;
}

.course .course-container .course-card {
    background-color: #2e3267;
    border: 2px solid transparent;
    transition: all 400ms ease;
    text-align: center;
}

.course .course-container .course-card:hover {
    background-color: transparent;
    border: 2px solid #2e3267;
}

@media only screen and (max-width: 1400px) {
    .course {
        margin-top: 5rem;
    }

    .course .course-container {
        width: 90%;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (max-width: 662px) {
    .course .course-container {
        display: flex;
        flex-direction: column;
    }
}