.header {
    position: relative;
    top: 5rem;
    height: 70vh;
    margin-bottom: 5rem;
}

.header .header-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 80%;
    margin: 0 auto;
}

.header .header-container .header-left p {
    margin: 1rem 0 2.5rem;
}

.header .header-container .header-right img {
    width: 90%;
    margin-left: 5rem;
}

.header .header-container .header-left .button {
    display: inline-flex;
    background-color: #f75842;
    color: #fff;
    padding: 1rem 2rem;
    border: 1px solid transparent;
    font-weight: 500;
    transition: all 400ms ease;
}

.header .header-container .header-left .button:hover {
    background-color: transparent;
    border: 1px solid #fff;
}


.category {
    height: 28rem;
    padding: 5rem 0;
}

.category .category-container .category-left h1 {
    margin-bottom: 1rem;
    line-height: 1;
}

.category .category-container {
    display: flex;
    gap: 5rem;
    width: 80%;
    margin: 0 auto;
}

.category .category-container .category-left p {
    margin: 16px 0 40px;
}

.category .category-container .category-right {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem
}

.category .category-container .category-right .category-box {
    background-color: #424890;
    transition: all 400ms ease;
    z-index: 1;
    width: 200px;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 10px 20px;
    border-radius: 20px;
}

.category .category-container .category-left .button {
    display: inline-flex;
    background-color: #fff;
    color: #000;
    padding: 1rem 2rem;
    border: 1px solid transparent;
    font-weight: 500;
    transition: all 400ms ease;
}

.category .category-container .category-left .button:hover {
    border: 1px solid #fff;
    background-color: transparent;
    color: #fff;
}


.category .category-container .category-right .category-box:hover {
    box-shadow: 0 48px 48px rgba(0, 0, 0, 0.3);
}

.category .category-container .category-right .category-hover:hover {
    box-shadow: 24px 0 48px rgba(0, 0, 0, 0.3);
}


.category .category-container .category-right .category-box .category-icon {
    background-color: #00bf8e;
    padding: 10px 15px;
    border-radius: 14px;
}

.category .category-container .category-right .category-box i {
    font-size: 1.1rem;
}

.category .category-container .category-right .category-box:nth-child(2) .category-icon {
    background-color: #6c63ff;
}

.category .category-container .category-right .category-box:nth-child(3) .category-icon {
    background-color: #00bf8e;
}

.category .category-container .category-right .category-box:nth-child(4) .category-icon {
    background-color: #f75842;
}

.category .category-container .category-right .category-box:nth-child(5) .category-icon {
    background-color: #f7c94b;
}

.category .category-container .category-right .category-box:nth-child(6) .category-icon {
    background-color: #f75842;
}

.category .category-container .category-right .category-box h5 {
    margin: 20px 0 10px;
}

.category .category-container .category-right .category-box p {
    font-size: 0.85rem;
}

.course {
    margin-top: 10rem;
    padding: 5rem 0;
}

.course h2 {
    text-align: center;
    margin-bottom: 3rem;
}

.course .course-container {
    display: grid;
    gap: 3rem;
    width: 80%;
    margin: 0 auto;
    grid-template-columns: repeat(3, 1fr);
}

.course .course-container .course-card .course-info {
    padding: 2rem;
}

.course .course-container .course-card .button {
    display: inline-flex;
    background-color: #f75842;
    color: #fff;
    padding: 1rem 2rem;
    border: 1px solid transparent;
    font-weight: 500;
    transition: all 400ms ease;
}

.course .course-container .course-card .button:hover {
    border: 1px solid #fff;
    background-color: transparent;
}

.course .course-container .course-card .course-info p {
    margin: 1.2rem 0 2rem;
    font-size: 0.9rem;
    text-align: center;
}

.course .course-container .course-card .course-info h4 {
    text-align: center;
}

.course .course-container .course-card .course-img img {
    width: 100%;
}

.course .course-container .course-card a {
    margin-bottom: 2rem;
}

.course .course-container .course-card {
    background-color: #2e3267;
    border: 2px solid transparent;
    transition: all 400ms ease;
    text-align: center;
}

.course .course-container .course-card:hover {
    background-color: transparent;
    border: 2px solid #2e3267;
}

.frequent {
    padding: 5rem 0;
}

.frequent h2 {
    text-align: center;
    margin-bottom: 3rem;
}

.frequent .frequent-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    width: 80%;
    margin: 0 auto;
}

.frequent .frequent-container .frequent-card {
    padding: 2rem;
    gap: 2rem;
    display: flex;
    align-items: center;
    height: max-content;
    background-color: #6c63ff;
    cursor: pointer;
    transition: all 400ms ease;
}

.frequent .frequent-container .frequent-card:hover {
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
}

.frequent .frequent-container .frequent-card h4 {
    font-size: 1rem;
    line-height: 1.5;
    width: fit-content;
}

.frequent .frequent-container .frequent-card p {
    margin-top: 0.9rem;
    display: none;
}

.frequent .frequent-container .frequent-card.open p {
    display: flex;
}

.frequent .frequent-container .frequent-card .frequent-icon {
    align-self: flex-start;
    margin-top: 0.5rem;
}

@media (max-width: 992px) {
    .header {
        height: 60vh;
    }

    .header .header-container {
        width: 90%;
    }

    .category {
        height: auto;
    }

    .category .category-container {
        flex-direction: column;
        gap: 3rem;
        width: 90%;
    }

    .category .category-container .category-right {
        grid-template-columns: repeat(3, 0fr);
        gap: 2rem;
    }

    .course {
        margin-top: 0;
    }

    .course .course-container {
        grid-template-columns: 1fr 1fr;
        width: 90%;
    }

    .frequent .frequent-container {
        grid-template-columns: 1fr;
        width: 90%;
    }
}

@media (max-width: 662px) {
    .header .header-container {
        width: 80%;
        display: grid;
        grid-template-columns: 1fr;
        margin-top: 100px;
        gap: 5rem;
    }

    .header .header-container .header-left a {
        width: 100%;
        justify-content: center;
    }

    .header .header-container .header-right img {
        margin: 25px;
    }

    .category .category-container {
        margin-top: 200px;
        width: 80%;
    }

    .category .category-container .category-left a {
        width: 100%;
        justify-content: center;
    }

    .category .category-container .category-right {
        display: grid;
        grid-template-columns: 1fr;
        margin: 0 auto;
    }

    .category .category-container .category-right .category-box {
        width: 100%;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .course .course-container {
        display: flex;
        flex-direction: column;
        width: 90%;
    }
}